body
{
	font-family: Helvetica, sans-serif;
	font-size: 13pt;
	color: #303030;
	background: #ecf3ff;
	height: 100%;
	margin: 0;
}

h1
{
	margin: 0;
	text-align: center;
}

h2
{
	margin-top: 0pt;
	margin-bottom: 10pt;
}

h3
{
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
}

p
{
	font-family: Roboto;
	margin-top: 0pt;
	margin-bottom: 5pt;
}

a
{
	color: #303030;
	text-decoration: none;
}

a:hover, a:active
{
	color: #003080;
}

img
{
	width: 40%;
	/* center manually because auto wasn't working */
	margin-left: 30%;
	margin-right: 30%;
}

/* mostly the links going up the tree */
.link
{
	color: #676767;
	font-size: 12pt;
	font-style: italic;
}

/* title at the top of the screen */
.title
{
	background: #ecf3ff;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0px;
	color: #003080;
}

/* blurb for a day or content in a day */
.entry
{
	background: #f7f9ff;
	padding-top: 7.5pt;
	padding-bottom: 3.75pt;
	padding-right: 8.25pt;
	padding-left: 8.25pt;
	border-radius: 6.75pt;
	margin-bottom: 1em;
}

.entry h2
{
	margin-bottom: 6pt;
}
