.container
{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 712.5pt;
}

.sidebar
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-top: 4.5pt;
	padding-bottom: 3.75pt;
	padding-right: 8.25pt;
	padding-left: 8.25pt;
	width: 103.5pt;
	background-color: #f7f9ff;
	float: right;
}

.yearmenu
{
	border: none;
	background: none;
	color: #303030;
	font-size: 13pt;
	padding: 0;
	margin-top: 2.25pt;
	margin-bottom: 0;
	display: block;
	cursor: pointer;
}

.yearmenu:hover
{
	color: #003080;
}

.monthmenu
{
	display: none;
	padding-left: 15pt;
	margin-top: 0;
	margin-bottom: 6pt;
}

.sidebar a
{
	color: #303030;
	font-size: 11pt;
	padding: 0;
	margin-bottom: 1.5pt;
	display: block;
	text-decoration: none;
}

.sidebar a:hover
{
	color: #003080;
}

li span
{
	position: relative;
	left: -2.25pt;
}

.back
{
	display: none;
	margin-top: 0;
}

.content
{
	padding-top: 11.75pt;
	margin-right: 132.75pt;
	margin-bottom: 11.75pt;
}

@media screen and (max-width: 600pt)
{
	.sidebar
	{
		display: none;
	}
	.back
	{
		display: block;
	}
	.content
	{
		margin-right: 0pt;
	}
}
