.container
{
	margin-top: 0px;
	margin-right: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 950px;
}

.sidebar
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-right: 11px;
	padding-left: 11px;
	width: 138px;
	background-color: #f7f9ff;
	float: right;
}

.yearmenu
{
	border: none;
	background: none;
	color: #303030;
	font-size: 18px;
	padding: 0px;
	margin-top: 3px;
	display: block;
	cursor: pointer;
}

.yearmenu:hover
{
	color: #003080;
}

.monthmenu
{
	display: none;
	padding-left: 20px;
	margin-top: 0px;
	margin-bottom: 8px;
}

.sidebar a
{
	color: #303030;
	font-size: 15px;
	padding: 0px;
	margin-bottom: 2px;
	display: block;
	text-decoration: none;
}

.sidebar a:hover
{
	color: #003080;
}

li span
{
	position: relative;
	left: -3px;
}

.back
{
	display: none;
	margin-top: 0px;
}

.content
{
	padding-top: 14px;
	margin-right: 177px;
	margin-bottom: 15px;
}

@media screen and (max-width: 800px)
{
	.sidebar
	{
		display: none;
	}
	.back
	{
		display: block;
	}
	.content
	{
		margin-right: 0px;
	}
}
